/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Background */
body{
    height: 100vh;
    background-image: url("images/bg.jpg"); /* apni image ka path */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* Login Box */
.login-box{
    width: 400px;
    background: rgba(255, 255, 255, 0.9);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.3);
}

/* Heading */
.login-box h2{
    text-align: center;
    margin-bottom: 25px;
    color: #333;
}

/* Input fields */
.login-box input{
    width: 100%;
    height: 45px;
    margin-bottom: 15px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Input focus */
.login-box input:focus{
    outline: none;
    border-color: #007bff;
}

/* Button */
.login-box button{
    width: 100%;
    height: 45px;
    background: #007bff;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Button hover */
.login-box button:hover{
    background: #0056b3;
}

/* Extra text */
.login-box p{
    text-align: center;
    margin-top: 15px;
    font-size: 14px;
}

.login-box a{
    color: #007bff;
    text-decoration: none;
}

.login-box a:hover{
    text-decoration: underline;
}
